@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 6rem;
}

.title {
    text-align: center;
}

h2 {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -0.045em;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 18px;
    font-weight: 400;
    padding-right: 20rem;
    margin-top: 0.5rem;
}

.container {
    margin-left: 11%;
    margin-right: 11%;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 80%;
    margin-right: 0.7rem;
}

.vertical_text {
    writing-mode: vertical-lr;
    font-family: 'PT Serif', Serif;
    font-weight: 400;
    font-size: 12px;
    vertical-align: top;
}



.name {
    width: 100%;
}

.col_1 {
    padding-left: 5rem;
}

.col_2 {
    padding-top: 5rem;
    padding-left: 5rem;
}

.col_3 {
    padding-left: 5rem;
}

.col_4 {
    padding-left: 5rem;
    }

.col_5 {
    padding-top: 5rem;
    padding-left: 5rem;
}

.col_6 {
    padding-left: 5rem;
    }

.footer {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #A9A9A9;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    body {
        margin-left: 1rem;
    }
    .header {
        display: inline;
    }

    .title {
        text-align: left;
        padding-top: 1rem;
    }
    
    h2 {
        font-size: 24px;
    }

    .subtitle {
        padding-top: 1.5rem;
    }

    h4 {
        font-size: 14px;
    }

    p {
        padding-right: 0;
        font-size: 14px;
        margin-top: 0;
    }

    .container {
        margin-top: 2rem;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 80%;
        margin-right: 0;
    }

    .vertical_text {
        font-size: 8px;
    }

    .col_1 {
        padding-left: 0;
    }
    
    .col_2 {
        padding-top: 2rem;
        padding-left: 0;
    }
    
    .col_3 {
        padding-left: 0;
    }
    
    .col_4 {
        padding-top: 2rem;
        padding-left: 0;
        }
    
    .col_5 {
        padding-top: 0;
        padding-left: 0;
    }
    
    .col_6 {
        padding-top: 2rem;
        padding-left: 0;
        }

}